/*!
 * New styles go here
 */
th {
	text-align: center;
}

.list-table{
	width: 100%;
}

.heading-holding-banner, hr {
    background: url(../img/dot-grey.png);
}

.notshow {
	display: none
}
.definitelyshow{
	display: block
}